:root {
  --main-bg-color: lightblue;

  /* Mail colors */
  --mail-light-blue-color: #3e65cf;
  --mail-dark-blue-color: #3b60c4;
  --mail-red-color: #c71610;
  --mail-yellow-color: #f2a60c;
  --mail-yellow-color: #08851b;

  /* Note colors */
  --note--dark-theme-black: #202124;
  --note--dark-theme-white: #e8eaed;
}
