/* mail index  */

.email-index {
  flex: 1;

  display: flex;
  gap: 20px;
  margin: 20px;
  font-family: arial, helvetica, sans-serif;
  height: 100%;

  .new-email-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: background 0.3s;

    &:hover {
      background: #0056b3;
    }
  }

  .main {
    flex: 1;
  }
}
