/* mail index  */

.email-index {
  flex: 1;

  display: flex;
  gap: 20px;
  margin: 20px;
  font-family: arial, helvetica, sans-serif;
  height: 100%;
  background-color: #f6f8fc;


  .new-email-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: none;
    background: #c2e7ff;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: background 0.3s;
    gap: 10px;
    width: 152px;
    height: 56px;

    &:hover {
      background: #0056b3;
    }
  }

  .main {
    flex: 1;
  }
}
