
.app-header {
  background-image: url('../../../assets/img/cool-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  
  img{
    display: flex;
    width: auto;
    height: 75px;
  }
  
  nav{
    display: flex;
    margin-right: 2%;
  }
}

nav a {
  margin: 0.5em;
}

nav a:active {
  color: purple;
}

nav a.active {
  font-weight: bold;
  text-decoration: overline;
}
