.email-filter {
  form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .search-bar {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      border-radius: 20px;
      background-color: #eaf1fb;
      opacity: 0.8;
      border: 1px solid #e0e0e0;
      padding: 5px 20px;

      input {
        padding: 10px;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        background: none;
      }

      i {
        padding: 10px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.3s;
        border-radius: 50px;

        &:hover {
          background-color: #dadada;
        }
      }
    }
  }
}
