.email-folder-list {
  margin-top: 20px;
  display: flex;
  gap: 3px;
  flex-direction: column;
  min-height: 100%;

  .folder-button {
    display: flex;
    font-weight: 600;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px 10px 15px;
    border: none;
    background: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 20px;

    &:hover,
    &.selected {
      background: #d3e3fd;
    }

    .folder-icon {
      margin-right: 10px;
    }
  }
}
